<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Project Kelompok 5</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  </head>
<body> 
    <button class="theme-toggle" onclick="toggleTheme()">🌓</button>
    <div class="container fade-in">
        <header>
            <h1>👋 Selamat Datang!</h1>
            <p>Website ini dibuat untuk menampilkan hasil pengolahan citra digital oleh <strong>Kelompok 5</strong>.</p>
        </header>

        <main>
            <a class="btn pulse" href="/proses_gambar">🔍 Lihat Fitur Citra</a>
            <div class="image-wrapper">
                <img src="../static/processed/yames.png" alt="Gambar Fitur Greyscalling" class="image-zoom-in" style="width: 50%;">
            </div>
        </main> 
        <p>ini hasil contoh foto dari konversi ke Grayscale</p>
        <footer>
            <p>© 2025 Kelompok 5. All rights reserved.</p>
        </footer>
    </div>

    <script>
        function toggleTheme() {
            document.body.classList.toggle('dark');
        }
    </script>
</body>
</html>
